
/*------------- All Elements -------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    a {
        text-decoration: none;
        color: rgb( 0, 0, 0);
    }
    ul {
        list-style: none;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

